[Unit]
Description=Realoading wallpaper and selecting a random image

[Timer]
OnStartupSec=2s
OnUnitInactiveSec=10m

[Install]
WantedBy=timers.target
