{
    "name": "wallust",
    "source": "{{ source }}",
    "wallpaper": "{{ colors.wallpaper }}",
    "colors": {
        "background": "{{ colors.special.background }}",
        "foreground": "{{ colors.special.foreground }}",
        "focused": "{{ colors.colors.color4 }}",
        "active": "{{ colors.colors.color5 }}",
        "inactive": "{{ colors.colors.color8 }}",
        "urgent": "{{ colors.colors.color1 }}",
        "black": "{{ colors.colors.color0 }}",
        "red": "{{ colors.colors.color1 }}",
        "green": "{{ colors.colors.color2 }}",
        "yellow": "{{ colors.colors.color3 }}",
        "blue": "{{ colors.colors.color4 }}",
        "magenta": "{{ colors.colors.color5 }}",
        "cyan": "{{ colors.colors.color6 }}",
        "white": "{{ colors.colors.color7 }}",
        "bright_black": "{{ colors.colors.color8 }}",
        "bright_red": "{{ colors.colors.color9 }}",
        "bright_green": "{{ colors.colors.color10 }}",
        "bright_yellow": "{{ colors.colors.color11 }}",
        "bright_blue": "{{ colors.colors.color12 }}",
        "bright_magenta": "{{ colors.colors.color13 }}",
        "bright_cyan": "{{ colors.colors.color14 }}",
        "bright_white": "{{ colors.colors.color15 }}"
    }
}
