[includeIf "gitdir:~/Desktop/personal/"] 
path = ~/Desktop/personal/.gitconfig.pers
 
[includeIf "gitdir:~/Desktop/work/"]
path = ~/Desktop/work/.gitconfig.work
 
[core]
excludesfile = ~/.gitignore 
	editor = code
[init]
	defaultBranch = main
[user]
	email = 62037537+rjofiel@users.noreply.github.com
	name = Jofiel
[fetch]
	prune = true
[gui]
	recentrepo = /home/jofiel/Desktop/personal/evalion-tech
