[includeIf "gitdir:~/Desktop/personal/"] 
path = ~/Desktop/personal/.gitconfig.pers
 
[includeIf "gitdir:~/Desktop/work/"]
path = ~/Desktop/work/.gitconfig.work
 
[core]
excludesfile = ~/.gitignore 
[init]
	defaultBranch = main
[user]
	email = 62037537+rjofiel@users.noreply.github.com
	name = Jofiel
